fastapi
langchain
langchain-core
langchain-community
tavily-python
langchain-ollama
langgraph
pymongo
pytesseract
python-dotenv
python-multipart
python-socketio
uvicorn
uvicorn[standard]
aiofiles
google-genai
openai
PyMuPDF
python-pptx
beautifulsoup4
markdown
lxml
pydantic
pydantic[email]
pydantic-settings
reportlab
selenium
selenium-stealth
webdriver_manager
selectolax
parsel
tiktoken
pandas
xlrd
openpyxl
tabulate
olefile
scikit-learn